{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	<div class="row justify-content-center" id="about-header">
		<div class="col-10">
			<h5>About Externatic</h5>
			<p>
				Externatic is first and foremost a team of IT experts,
				all driven by the same passion for human relationships.
				Emotional intelligence and cognitive education cannot be replaced by algorithms.
			</p>
		</div>
		{% include "offer/_filter.html.twig" %}
	</div>
	{% include "offer/_OfferCard.html.twig" %}
{% endblock %}
