<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Before you leave ..</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div
				class="modal-body">
				{#TO DO : à la place du "hey you", mettre une Vb' affichant le prénom du current user #}
				<strong>Hey you!</strong>
				You're about to apply for the following offer :
				{{ offer.title}}
				<br>
				Are you sure ?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">All good</button>
			</div>
		</div>
	</div>
</div>
