{% extends 'base.html.twig' %}


{% block title %}Liste des annonces
{% endblock %}


{% block body %}


	{% for offer in offers %}
		<article>
			<h3>{{ offer.title }}
				<em>{{ offer.createdAt|date('d-m-Y') }}</em>
			</h3>
			<p>{{ offer.description }}</p>
		</article>


	{% endfor %}


{% endblock %}
