<div class="accordion accordion-flush" id="application-card" tabindex="1">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <div class="p-3">
                <h3>Offer #12 Chef de projet Infrastructure(F/H)</h3>
            </div>
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            [nbre] Candidates
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#application-card">
            <div class="accordion-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
    </div>
</div>
