{# Candidate Space #}
<div class="container text-center">
	<div class="row justify-content-center mt-2" id="navigation-btn-desktop">
		<div class="col mt-4">
			<a class="btn" role="button" href="#">
				<h4>RESEARCH</h4>
				<p>Tell us about your expectations so we can find the job made for you!</p>
			</a>
		</div>
		<div class="col mt-4">
			<a class="btn" role="button" href="#">
				<h4>APPLICATIONS</h4>
				<p>Find the status and the history of your applications.</p>
			</a>
		</div>
		<div class="col mt-4">
			<a class="btn" role="button" href="#">
				<h4>COLLECTIONS</h4>
				<p>Find your favorite job offers and your favorite companies.</p>
			</a>
		</div>
		<div class="col mt-4">
			<a class="btn" role="button" href="{{ path('candidate_show', { id: candidate.id }) }}">
				<h4>PROFILE</h4>
				<p>Update your information to increase your chances of being recruited.</p>
			</a>
		</div>
	</div>
</div>
