{# Candidate Space #}
<div class="container text-center">
	<div class="row justify-content-center mt-2" id="navigation-btn-desktop">
		<div class="col mt-4">
			<a class="btn btn-custom-bg" role="button" id="navbtn1" href="{{ path('candidate_research', { id: candidate.id }) }}">
				<h4>RESEARCH</h4>
				<p>Tell us about your expectations so we can find the job made for you!</p>
			</a>
		</div>
		<div class="col mt-4">
			<a class="btn btn-custom-bg" role="button" id="navbtn2" href="{{ path('candidate_applications', { id: candidate.id }) }}">
				<h4>APPLICATIONS</h4>
				<p>Find your application status and history.</p>
			</a>
		</div>
		<div class="col mt-4">
			<a class="btn btn-custom-bg" role="button" id="navbtn3" href="{{ path('candidate_collection', { id: candidate.id }) }}">
				<h4>COLLECTION</h4>
				<p>Find your favorite job offers and your favorite companies.</p>
			</a>
		</div>
		<div class="col mt-4">
			<a class="btn btn-custom-bg" role="button" id="navbtn4" href="{{ path('candidate_show', { id: candidate.id }) }}">
				<h4>PROFILE</h4>
				<p>Update your information to increase your chances of being recruited.</p>
			</a>
		</div>
	</div>
</div>
<script>
{% include 'style/component/_btnBgStyle.js' %}
</script>

