<div class="col-md-5 col-lg-3 mt-4">
    <button class="btn" type="button">
    <h4>RESEARCH</h4>
    <p>Tell us about your expectations so we can find the job made for you!</p>
    </button>
</div>

<div class="col-md-5 col-lg-3 mt-4">
    <button class="btn" type="button">
    <h4>APPLICATIONS</h4>
    <p>Find the status and the history of your applications.</p>
    </button>
</div>

<div class="col-md-5 col-lg-3 mt-4">
    <button class="btn" type="button">
    <h4>FAVORITES</h4>
    <p>Find your favorite job offers and your favorite companies.</p>
    </button>
</div>

<div class="col-md-5 col-lg-3 mt-4">
    <button class="btn" type="button">
    <h4>PROFILE</h4>
    <p>Update your information to increase your chances of being recruited.</p>
    </button>
</div>
