{% extends 'base.html.twig' %}

{% block title %}Style Guide{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 0 auto; max-width: 1200px; width: 100%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-center"> Style Guide </h1>

    <p class="text-center">You will find below examples to help you to design your user stories</p>

    <ol>
        <li> Choose the design you want to use among the elements below </li>
        <li> Copy the element or use the same class in your twig page or in your formType </li>
        <li> Et voilà ENJOY !!! <3 </li>
    </ol>

    <h3 class="mt-4"> Cards </h3>
    <div class="card mt-2" style="width: 20rem;">
        <div class="card-body">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </div>
    </div>

    <h3 class="mt-4"> Candidate profile blocks </h3>
    <div class="profile-blocks mt-2">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>

    <form>
        <h3 class="mt-4"> Search bars </h3>
        <div class="row align-items-center mt-2">
            <div class="col-md-4 mt-4">
                <input type="text" class="form-control" placeholder="Find a job">
                <img id="glass" src="{{ asset('build/images/glass.svg') }}">
            </div>
            <div class="col-md-4 mt-4">
                <select class="form-select">
                    <option selected>Type of job</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <img id="job" src="{{ asset('build/images/job.svg') }}">
            </div>
            <div class="col-md-4 mt-4">
                <input type="text" class="form-control" placeholder="Location">
                <img id="location" src="{{ asset('build/images/location.svg') }}">
            </div>
        </div>
    </form>

    <h3 class="mt-4"> Buttons </h3>
    <button type="button" class="btn btn-secondary mt-2">coucou</button>

</div>
{% endblock %}
