{% extends 'base.html.twig' %}

{% block title %}Style Guide{% endblock %}

{% block body %}
<section class="margin">
    <div>
        <h1 class="text-center">Style Guide</h1>
        <p class="text-center">You will find below examples to help you to design your user stories</p>
        <ol>
            <li>
                Choose the design you want to use among the elements below
            </li>
            <li>
                Copy the element or use the same class in your twig page or in your formType
            </li>
            <li>
                Et voilà ENJOY !!! <3
            </li>
        </ol>
    </div>

    <div>
        <h3 class="mt-4">Cards</h3>

        <h6 class="mt-4 mb-2">Application card</h6>
        {% include 'style/component/_applicationCard.html.twig' %}

        <h6 class="mt-4">Search cards</h6>
        <div class="container">
            <div class="row justify-content-center">
            {% include 'style/component/_searchCard.html.twig' %}
            {% include 'style/component/_searchCard.html.twig' %}
            {% include 'style/component/_searchCard.html.twig' %}
            {% include 'style/component/_searchCard.html.twig' %}
            </div>
        </div>

        <h6 class="mt-4 mb-2">Offer description card - border appears at 599px </h6>
        {% include 'style/component/_offerDescriptionCard.html.twig' %}

        <h6 class="mt-4">Profile card</h6>
        {% include 'style/component/_profileCard.html.twig' %}
    </div>

    <div>
        <h3 class="mt-4">Candidate profile blocks</h3>
        {% include 'style/component/_profileBlock.html.twig' %}
    </div>

    <div>
        <h3 class="mt-4">Search bars</h3>
        {% include 'style/component/_searchBar.html.twig' %}
    </div>

    <div class= "mb-4">
        <h3 class="mt-4">Navigation buttons</h3>
        {% include 'style/component/_navigationBtnDesktopCandidate.html.twig' %}
        {% include 'style/component/_navigationBtnMobileCandidate.html.twig' %}
    </div>
</section>
{% endblock %}
