@import url('https://fonts.googleapis.com/css?family=Jost');
$primary: #851342;
$secondary: #FED32C;
$tertiary: #C1C5CF;

$font-family-base: 'Jost', sans-serif;

@import "~bootstrap/scss/bootstrap";






//Commun entre mobile et desktop

//Profile
div h1,
div.profile p.job_title {
    font-weight: bold;
}

div.profile p.name,
div.skills p,
div.portfolio p {
    font-weight: 600;
}


//boutton swicth
div a i.bi.bi-toggle-on:before {
    font-size: x-large;
    color: $secondary;
}