{% extends 'base.html.twig' %}

{% block title %}New Offer{% endblock %}

{% block body %}
    <h1>Edit offer: {{ offer.title }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Edit my offer</button>
    {{ form_end(form) }}
{% endblock %}
