{% extends 'base.html.twig' %}

{% block title %}Edit Offer : {{ offer.title }}{% endblock %}

{% block body %}
    <div class="text-center mb-4">
        <h1>Edit Offer : {{ offer.title }}</h1>
    </div>
    {% include "_form.html.twig" %}
    <div class="text-center">
        <button type="submit" class="btn btn-secondary mt-4 bt-4">{{ button_label|default('Add Offer') }}</button>
    </div>
    {{ form_end(form) }}
    </section>
{% endblock %}
