{% extends 'base.html.twig' %}

{% block title %}Edit Your Profile{% endblock %}

{% block body %}
    {% include "company/_dashboard.html.twig" %}
    {% include "company/_navigationBtnMobileCompany.html.twig" %}
	{% include "company/_navigationBtnDesktopCompany.html.twig" %}
    <section class="margin">
        <div class="text-center mt-4 mb-4">
            <h1>Edit Your Profile</h1>
        </div>
        {{ include('company/_form.html.twig', {'button_label': 'Update'}) }}
    </section>
{% endblock %}
