{% extends "base.html.twig" %}

{% block title %}
	{{ company.name }} - Offers
{% endblock %}

{% block body %}
	{% include "company/_dashboard.html.twig" %}
    {% if app.user.company is defined and app.user.company is not null %}
		<div class="mb-4 mt-2">
			{% include "style/component/_navigationBtnMobileCompany.html.twig" %}
			{% include "style/component/_navigationBtnDesktopCompany.html.twig" %}
		</div>
	{% endif %}
    {{ component('offer') }}
{% endblock %}