{% extends 'base.html.twig' %}

{% block title %}Create a new account{% endblock %}

{% block body %}
    <section class="margin">
        <div class="text-center mb-4">
            <h1>Create an account</h1>
        </div>
        {{ include('company/_form.html.twig') }}
    </section>
{% endblock %}
