<div class="container" id="main-footer">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0">© 2023 - Externateam</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/company/externatic/?originalSubdomain=fr"><img class="footer-link" src="{{ asset('build/images/social/linkedin.png') }}" alt="linkedin" width="30" height="30"/></a></li>
      <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/externatic/?hl=fr"><img class="footer-link" src="{{ asset('build/images/social/instagram.png') }}" alt="instagram" width="30" height="30"/></a></li>
      <li class="ms-3"><a class="text-muted" href="https://twitter.com/Externatic"><img class="footer-link" src="{{ asset('build/images/social/twitter.png') }}" alt="twitter" width="30" height="30"/></a></li>
    </ul>
  </footer>
</div>