{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<section class="margin">
    <div class="container text-center">
        <h1> WELCOME !</h1>
        <div class="row justify-content-center mt-4">
            <div class="col col-sm-12 col-md-8 col-lg-6 col-xl-5 col-xxl-5">

                <div id ="connection-header">
                    <ul class="nav nav-underline justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link active" href="/login" aria-current="page">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Create an account</a>
                        </li>
                    </ul>
                </div>

                <div id="connection-form">
                    <div class="tab-content">

                        <button type="button" class="btn btn-primary btn-lg mt-2">connect with Linkedin</button>
                        <button type="button" class="btn btn-secondary btn-lg mt-2">connect with Google</button>

                        {# <div class="tab-pane active" role="tabpanel" aria-labelledby="login-tab" tabindex="0"> #}

                        <form action="{{ path('login') }}" method="post">
                            <div class="col mt-4">
                                <input type="text" id="username" class="form-control" name="_username" placeholder="Email" value="{{ last_username }}">
                            </div>
                            <div class="col mt-4">
                                <input type="password" id="password" class="form-control" name="_password" placeholder="Password">
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button type="submit" class="btn btn-secondary mt-4">Login</button>
                        </form>
                    </div>
                </div>
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
