<div id="navigation-btn-mobile" class="carousel slide mt-4 mb-4" data-bs-touch="true" data-bs-interval="false">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="row">
				<div class="btn-group justify-content-center gap-4">
					<div class="col-4">
						<a class="btn d-block w-100" role="button" href="{{ path('candidate_research', { id: candidate.id }) }}">RESEARCH</a>
					</div>
					<div class="col-4">
						<a class="btn d-block w-100" role="button" href="{{ path('candidate_applications', { id: candidate.id }) }}">APPLICATIONS</a>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="row">
				<div class="btn-group justify-content-center gap-4">
					<div class="col-4">
						<a class="btn d-block w-100" role="button" href="{{ path('candidate_collection', { id: candidate.id }) }}">COLLECTION</a>
					</div>
					<div class="col-4">
						<a class="btn d-block w-100" role="button" href="{{ path('candidate_show', { id: candidate.id }) }}">PROFILE</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#navigation-btn-mobile" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#navigation-btn-mobile" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
