{% extends 'base.html.twig' %}

{% block title %}My account{% endblock %}

{% block body %}
<section class="margin">
    {# <div class="row justify-content-center"> #}
        <h1>Create account</h1>

	{{ include('candidate/_form.html.twig') }}

	{# <a href="{{ path('candidate_index') }}">back to list</a> #}
</section>
{% endblock %}
